*{
    margin: 0;
    padding: 0;
}
.baku
{
    height: 100vh;
    width:100%;
    background-image: url(dcc0a2a22ed8e1b0b4246410ca114c3e.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    overflow-x:hidden;
}
.yol{
height: 200px;
width: 500%;
display: block;
background-image: url(1.jpg);
position: absolute;
bottom: 0;
left:0;
right: 0;
z-index: 1;
background-repeat: repeat-x;
animation: yol 5s linear infinite ;
}
@keyframes yol
{
    100%{transform: translateX(-3400px);
    
    }
}
.weher{
    height: 250px;
width: 500%;
background-image: url(baku-azerbaijan-city-skyline-vector-silhouette-illustration-baku-azerbaijan-city-skyline-silhouette-113879152.jpg);
position: absolute;
bottom: 200px;
left:0;
right: 0;
display: block;
z-index: 1;
background-repeat: repeat-x;
animation: yol 50s linear infinite ;
}
@keyframes weher{
    100%{
        transform: translateX(-1400px)
    }
}
.golf{
    width: 260px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.golf img{
    width: 100%;
}
